@model ShakuroMarketplaceNetMVC.Models.ReviewViewModel

@{
    ViewBag.Title = ViewBag.PageHeader + " Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="good-header">
    <div class="good-menu">
        <div class="good-menu-additional-block"></div>
        <div class="good-menu-item">
            <a href="/catalog/@ViewBag.CategoryUrl/@ViewBag.SubcategoryUrl/@ViewBag.GoodUrl" class="good-menu-item-link">Description</a>
        </div>
        <div class="good-menu-selected-item">
            <a href="/catalog/@ViewBag.CategoryUrl/@ViewBag.SubcategoryUrl/@ViewBag.GoodUrl/Reviews" class="good-menu-item-link">Reviews</a>
        </div>
        <div class="good-menu-item">
            <a href="/catalog/@ViewBag.CategoryUrl/@ViewBag.SubcategoryUrl/@ViewBag.GoodUrl/Overview" class="good-menu-item-link">Overview</a>
        </div>
        <div class="good-menu-item">
            <a href="/catalog/@ViewBag.CategoryUrl/@ViewBag.SubcategoryUrl/@ViewBag.GoodUrl/Discussions" class="good-menu-item-link">Discussions</a>
        </div>
        <div class="good-menu-additional-block"></div>
    </div>
</div>

<div class="reviews-container">
    <div class="reviews">
        @if (Model.goodReviewsList.Count() == 0)
        {
            <div class="reviews-list">
                <div class="reviews-list-item">
                    <p class="no-reviews-message">There are not any review!</p>
                </div>
            </div>
        }
        else
        {
            <div class="reviews-list" showed-reviews="@ViewBag.InitiallyShowedReviewsNumber" good-id="@ViewBag.GoodId">
                @foreach (var review in Model.goodReviewsList)
                {
                    <div class="reviews-list-item">
                        <div class="reviews-list-item-top">
                            <div class="reviews-list-item-top-mark">
                                <div class="reviews-list-item-top-mark-icon">★ </div>
                                <div class="reviews-list-item-top-mark-number">@review.Mark</div>
                            </div>
                            <div class="reviews-list-item-top-experience-of-use">
                                <div class="reviews-list-item-top-experience-of-use-icon"></div>
                                <div class="reviews-list-item-top-experience-of-use-text">Experience of use:</div>
                                <div class="reviews-list-item-top-experience-of-use-number">@review.ExperienceOfUse</div>
                            </div>
                            <div class="reviews-list-item-top-author">
                                <div class="reviews-list-item-top-author-avatar"></div>
                                <div class="reviews-list-item-top-author-name">@review.Reviewer</div>
                            </div>
                        </div>
                        <div class="reviews-list-item-body">
                            <div class="reviews-list-item-body-advantages">
                                <p class="reviews-list-item-body-advantages-header">Advantages</p>
                                <p class="reviews-list-item-body-advantages-text">
                                    @review.Advantages
                                </p>
                            </div>
                            <div class="reviews-list-item-body-disadvantages">
                                <p class="reviews-list-item-body-disadvantages-header">Disadvantages</p>
                                <p class="reviews-list-item-body-disadvantages-text">
                                    @review.Advantages
                                </p>
                            </div>
                            <div class="reviews-list-item-body-comment">
                                <p class="reviews-list-item-body-comment-header">Comment</p>
                                <p class="reviews-list-item-body-comment-text">
                                    @review.Comment
                                </p>
                            </div>
                        </div>
                        <div class="reviews-list-item-bottom">
                            <div class="reviews-list-item-bottom-data">
                                <div class="reviews-list-item-bottom-data-icon"></div>
                                <div class="reviews-list-item-bottom-data-text">@review.Date.ToShortDateString()</div>
                            </div>
                            <div class="reviews-list-item-bottom-approval">
                                <div class="reviews-list-item-bottom-approval-like-icon"></div>
                                <div class="reviews-list-item-bottom-approval-like-number">@review.LikesNumber</div>
                                <div class="reviews-list-item-bottom-approval-dislike-icon"></div>
                                <div class="reviews-list-item-bottom-approval-dislike-number">@review.DislikesNumber</div>
                            </div>
                        </div>
                    </div>
                }
                <div class="show-more-reviews">Show more</div>
            </div>
        }
        <div class="reviews-info">
            <div class="reviews-info-item-button">
                <div class="good-rating">
                    <div class="good-rating-icon">★ </div>
                    <div class="good-rating-number">@Model.goodRating.ToString("0.00")</div>
                </div>
            </div>
            <div class="reviews-info-item-header">
                Reviews with ratings
            </div>
            @for (int i = 4; i >= 0; i--)
            {
                <div class="reviews-info-item">
                    <div class="reviews-info-item-icon-container">
                        <div class="reviews-info-item-icon"></div>
                    </div>
                    <div class="reviews-info-item-stars">
                        @for (int k = 0; k <= i; k++)
                        {
                            <span class="green-stars">&#9733;</span>
                        }
                        @for (int j = 0; j < 4 - i; j++)
                        {
                            <span class="gray-stars">&#9733;</span>
                        }
                    </div>
                    <div class="reviews-info-item-number">@Model.reviewsNumberList[i]</div>
                </div>
            }
            <div class="add-review-button">Add Review</div>
        </div>
    </div>
</div>

<div class="add-review-block-container">
    <div class="add-review-block add-review-block-hidden">
        <form method="POST" action="/Catalog/AddReview" class="add-review-form">
            <p class="add-review-form-header">Add Review</p>
            <p class="add-review-input-header">Advantages:</p>
            <textarea rows="5" name="advantages" required class="advantages-textarea"></textarea>
            <br>
            <p class="add-review-input-header">Disadvantages:</p>
            <textarea rows="5" name="disadvantages" required class="disadvantages-textarea"></textarea>
            <br>
            <p class="add-review-input-header">Comment:</p>
            <textarea rows="5" name="comment" required class="comment-textarea"></textarea>
            <br>
            <p class="add-review-input-header">Experience of use:</p>
            <input type="text" name="experienceOfUse" required class="experience-of-use">
            <p class="add-review-input-header">Your Mark:</p>
            <span class="marks-block">
                <span class="marks-input">
                    <input name="mark" type="radio" value="1" class="mark-radio">
                    <span class="mark-text-value">1</span>
                </span>
                <span>
                    <input name="mark" type="radio" value="2" class="mark-radio">
                    <span class="mark-text-value">2</span>
                </span>
                <span class="marks-input">
                    <input name="mark" type="radio" value="3" class="mark-radio">
                    <span class="mark-text-value">3</span>
                </span>
                <span class="marks-input">
                    <input name="mark" type="radio" value="4" class="mark-radio">
                    <span class="mark-text-value">4</span>
                </span>
                <span class="marks-input">
                    <input name="mark" type="radio" value="5" class="mark-radio" checked>
                    <span class="mark-text-value">5</span>
                </span>
            </span>
            <input type="hidden" name="categoryUrl" value="@ViewBag.CategoryUrl">
            <input type="hidden" name="subcategoryUrl" value="@ViewBag.SubcategoryUrl">
            <input type="hidden" name="goodUrl" value="@ViewBag.GoodUrl">
            <input type="hidden" name="goodName" value="@ViewBag.GoodName">
            <span class="add-review-submit-panel">
                <span class="add-review-cancel-button">Cancel</span>
                <input type="submit" value="Ok" class="add-review-submit-button" />
            </span>
        </form>
    </div>
</div>