
@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="reviews-container">
    <div class="reviews">
            <div class="reviews-list">
                @foreach (var item in ViewBag.GoodReviewsList)
                {
                    <div class="reviews-list-item">
                        <div class="reviews-list-item-top">
                            <div class="reviews-list-item-top-mark">
                                <div class="reviews-list-item-top-mark-icon">★ </div>
                                <div class="reviews-list-item-top-mark-number">@item.Mark</div>
                            </div>
                            <div class="reviews-list-item-top-experience-of-use">
                                <div class="reviews-list-item-top-experience-of-use-icon"></div>
                                <div class="reviews-list-item-top-experience-of-use-text">Experience of use:</div>
                                <div class="reviews-list-item-top-experience-of-use-number">@item.ExperienceOfUse</div>
                            </div>
                            <div class="reviews-list-item-top-author">
                                <div class="reviews-list-item-top-author-avatar"></div>
                                <div class="reviews-list-item-top-author-name">@item.Reviewer</div>
                            </div>
                        </div>
                        <div class="reviews-list-item-body">
                            <div class="reviews-list-item-body-advantages">
                                <p class="reviews-list-item-body-advantages-header">Advantages</p>
                                <ul class="reviews-list-item-body-advantages-list">
                                    @foreach (var advantage in item.Advantages.Split("::".ToCharArray(), StringSplitOptions.RemoveEmptyEntries))
                                    {
                                        <li class="reviews-list-item-body-advantages-list-item">@advantage</li>
                                    }
                                </ul>
                            </div>
                            <div class="reviews-list-item-body-disadvantages">
                                <p class="reviews-list-item-body-disadvantages-header">Disadvantages</p>
                                <ul class="reviews-list-item-body-disadvantages-list">
                                    @foreach (var disadvantage in item.Disadvantages.Split("::".ToCharArray(), StringSplitOptions.RemoveEmptyEntries))
                                    {
                                        <li class="reviews-list-item-body-disadvantages-list-item">@disadvantage</li>
                                    }
                                </ul>
                            </div>
                            <div class="reviews-list-item-body-comment">
                                <p class="reviews-list-item-body-comment-header">Comment</p>
                                <p class="reviews-list-item-body-comment-text">
                                    @item.Comment
                                </p>
                            </div>
                        </div>
                        <div class="reviews-list-item-bottom">
                            <div class="reviews-list-item-bottom-data">
                                <div class="reviews-list-item-bottom-data-icon"></div>
                                <div class="reviews-list-item-bottom-data-text">@item.Date</div>
                            </div>
                            <div class="reviews-list-item-bottom-approval">
                                <div class="reviews-list-item-bottom-approval-like-icon"></div>
                                <div class="reviews-list-item-bottom-approval-like-number">@item.LikesNumber</div>
                                <div class="reviews-list-item-bottom-approval-dislike-icon"></div>
                                <div class="reviews-list-item-bottom-approval-dislike-number">@item.DislikesNumber</div>
                            </div>
                        </div>
                    </div>
                }
                <div class="show-more-reviwes"></div>
            </div>
        <div class="reviews-info">
            <div class="reviews-info-item-button">
                <div class="good-rating">
                    <div class="good-rating-icon">★ </div>
                    <div class="good-rating-number">@ViewBag.GoodRating.ToString("0.00")</div>                    
                </div>
            </div>
            <div class="reviews-info-item-header">
                Reviews with ratings
            </div>
            <div class="reviews-info-item">
                <div class="reviews-info-item-icon-container">
                    <div class="reviews-info-item-icon"></div>
                </div>
                <div class="reviews-info-item-stars">
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                </div>
                <div class="reviews-info-item-number">67%</div>
            </div>
            <div class="reviews-info-item">
                <div class="reviews-info-item-icon-container">
                    <div class="reviews-info-item-icon"></div>
                </div>
                <div class="reviews-info-item-stars">
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                </div>
                <div class="reviews-info-item-number">12%</div>
            </div>
            <div class="reviews-info-item">
                <div class="reviews-info-item-icon-container">
                    <div class="reviews-info-item-icon"></div>
                </div>
                <div class="reviews-info-item-stars">
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                </div>
                <div class="reviews-info-item-number">8%</div>
            </div>
            <div class="reviews-info-item">
                <div class="reviews-info-item-icon-container">
                    <div class="reviews-info-item-icon"></div>
                </div>
                <div class="reviews-info-item-stars">
                    <span class="green-stars">&#9733;</span>
                    <span class="green-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                </div>
                <div class="reviews-info-item-number">13%</div>
            </div>
            <div class="reviews-info-item">
                <div class="reviews-info-item-icon-container">
                    <div class="reviews-info-item-icon"></div>
                </div>
                <div class="reviews-info-item-stars">
                    <span class="green-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                    <span class="gray-stars">&#9733;</span>
                </div>
                <div class="reviews-info-item-number">4% @ViewBag.OneMark</div>
            </div>
        </div>
    </div>
</div>

