@model ShakuroMarketplaceNetMVC.Models.ReviewViewModel

@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="reviews-container">
    <div class="reviews">
        <div class="reviews-list">
            @foreach (var review in Model.GoodReviewsList)
            {
                <div class="reviews-list-item">
                    <div class="reviews-list-item-top">
                        <div class="reviews-list-item-top-mark">
                            <div class="reviews-list-item-top-mark-icon">★ </div>
                            <div class="reviews-list-item-top-mark-number">@review.Mark</div>
                        </div>
                        <div class="reviews-list-item-top-experience-of-use">
                            <div class="reviews-list-item-top-experience-of-use-icon"></div>
                            <div class="reviews-list-item-top-experience-of-use-text">Experience of use:</div>
                            <div class="reviews-list-item-top-experience-of-use-number">@review.ExperienceOfUse</div>
                        </div>
                        <div class="reviews-list-item-top-author">
                            <div class="reviews-list-item-top-author-avatar"></div>
                            <div class="reviews-list-item-top-author-name">@review.Reviewer</div>
                        </div>
                    </div>
                    <div class="reviews-list-item-body">
                        <div class="reviews-list-item-body-advantages">
                            <p class="reviews-list-item-body-advantages-header">Advantages</p>
                            <ul class="reviews-list-item-body-advantages-list">
                                @foreach (var advantage in review.Advantages.Split("::".ToCharArray(), StringSplitOptions.RemoveEmptyEntries))
                                {
                                    <li class="reviews-list-item-body-advantages-list-item">@advantage</li>
                                }
                            </ul>
                        </div>
                        <div class="reviews-list-item-body-disadvantages">
                            <p class="reviews-list-item-body-disadvantages-header">Disadvantages</p>
                            <ul class="reviews-list-item-body-disadvantages-list">
                                @foreach (var disadvantage in review.Disadvantages.Split("::".ToCharArray(), StringSplitOptions.RemoveEmptyEntries))
                                {
                                    <li class="reviews-list-item-body-disadvantages-list-item">@disadvantage</li>
                                }
                            </ul>
                        </div>
                        <div class="reviews-list-item-body-comment">
                            <p class="reviews-list-item-body-comment-header">Comment</p>
                            <p class="reviews-list-item-body-comment-text">
                                @review.Comment
                            </p>
                        </div>
                    </div>
                    <div class="reviews-list-item-bottom">
                        <div class="reviews-list-item-bottom-data">
                            <div class="reviews-list-item-bottom-data-icon"></div>
                            <div class="reviews-list-item-bottom-data-text">@review.Date</div>
                        </div>
                        <div class="reviews-list-item-bottom-approval">
                            <div class="reviews-list-item-bottom-approval-like-icon"></div>
                            <div class="reviews-list-item-bottom-approval-like-number">@review.LikesNumber</div>
                            <div class="reviews-list-item-bottom-approval-dislike-icon"></div>
                            <div class="reviews-list-item-bottom-approval-dislike-number">@review.DislikesNumber</div>
                        </div>
                    </div>
                </div>
            }
            <div class="show-more-reviwes"></div>
        </div>
        <div class="reviews-info">
            <div class="reviews-info-item-button">
                <div class="good-rating">
                    <div class="good-rating-icon">★ </div>
                    <div class="good-rating-number">@Model.GoodRating.ToString("0.00")</div>
                </div>
            </div>
            <div class="reviews-info-item-header">
                Reviews with ratings
            </div>       
            @for (int i = 4; i >= 0; i--)
            {
                <div class="reviews-info-item">
                    <div class="reviews-info-item-icon-container">
                        <div class="reviews-info-item-icon"></div>
                    </div>
                    <div class="reviews-info-item-stars">
                        @for (int k = 0; k <= i; k++)
                        {
                            <span class="green-stars">&#9733;</span>
                        }
                        @for (int j = 0; j < 4 - i; j++)
                        {
                            <span class="gray-stars">&#9733;</span>
                        }
                    </div>
                    <div class="reviews-info-item-number">@Model.ReviewsRationList[i]%</div>
                </div>
            }
        </div>
    </div>
</div>

