@model ShakuroMarketplaceNetMVC.Models.MainPageViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    @Html.Partial("_Slider")
    <div class="products-preview-box">
        <div class="products-preview">
            <div class="products-bar">
                <div class="product-bar-title">
                    <span class="product-bar-title-star-icon"></span>
                    <span class="product-bar-title-text">Interesting offers</span>
                </div>
                <div class="products-type">
                    @if (Request.Path == "/recommended-goods")
                    {
                        <a href="/sales-goods" class="sales-button">Sales</a>
                        <a href="/recommended-goods" class="recommended-button active-sorting-button">Recommended</a>
                        <a href="/new-goods" class="new-button">New</a>
                    }
                    else if (Request.Path == "/new-goods")
                    {
                        <a href="/sales-goods" class="sales-button">Sales</a>
                        <a href="/recommended-goods" class="recommended-button">Recommended</a>
                        <a href="/new-goods" class="new-button active-sorting-button">New</a>
                    }
                    else if (Request.Path == "/sales-goods")
                    {
                        <a href="/sales-goods" class="sales-button active-sorting-button">Sales</a>
                        <a href="/recommended-goods" class="recommended-button">Recommended</a>
                        <a href="/new-goods" class="new-button">New</a>
                    }
                    else
                    {
                        <a href="/sales-goods" class="sales-button">Sales</a>
                        <a href="/recommended-goods" class="recommended-button">Recommended</a>
                        <a href="/new-goods" class="new-button">New</a>
                    }


                </div>
                <div class="products-sorting">
                    <div class="select-category-box">
                        <select class="select-category" name="categories[]">
                            <option selected>All Categories</option>
                            <option value="Laptops">Laptops</option>
                            <option value="Tablets & eBooks">Tablets & eBooks</option>
                            <option value="Desktop Computers">Desktop Computers</option>
                            <option value="Cell Phones">Cell Phones</option>
                            <option value="TV & Media">TV & Media</option>
                            <option value="Photo Cameras">Photo Cameras</option>
                            <option value="Consoles & Games">Consoles & Games</option>
                        </select>
                    </div>
                    <!--
                        <div class="select-date-box">
                            <div class="date-button">Date <span class="date-button-arrow-icon"></span></div>
                        </div>
                    -->
                </div>
            </div>
            <div class="products-preview-list">
                @foreach (var item in Model.InterestingGoodsList)
                {
                    <div class="category-goods-list-item">
                        <div class="category-goods-list-item-special-buttons">
                            <div class="category-goods-list-item-special-buttons-favorite"></div>
                            <div class="category-goods-list-item-special-buttons-compare"></div>
                        </div>
                        <a href="/catalog/@item.GoodCategoryUrl/@item.GoodSubcategoryUrl/@item.GoodUrl" class="category-list-item-link">
                            <div class="category-goods-list-item-photo">
                                @if (item.NewGood)
                                {
                                    <div class="new-good"></div>
                                }
                                else if (item.SalesGood)
                                {
                                    <div class="sales-good"></div>
                                }
                                else if (item.RecommendedGood)
                                {
                                    <div class="recommended-good"></div>
                                }
                                <img src="/Content/Images/Goods/@item.GoodCategoryUrl/@item.GoodSubcategoryUrl/@item.GoodUrl/@item.GoodImagesUrls.Split("::".ToCharArray(), StringSplitOptions.RemoveEmptyEntries)[0]" height="120">
                            </div>
                            <div class="category-goods-list-item-name"><p>@item.GoodBrand @item.GoodName, @item.GoodColor</p></div>
                            <div class="category-goods-list-item-rating-and-reviews">
                                <div class="stars-container">
                                    <div class="stars-container-green-block" style='width: @Convert.ToInt32(20*item.GoodRating)%;'></div>
                                    <div class="stars-container-gray-block" style="width: calc(100% - @Convert.ToInt32(20*item.GoodRating)%); left: @Convert.ToInt32(20*item.GoodRating)%;"></div>
                                </div>
                                <div class="category-goods-list-item-review">
                                    <div class="category-goods-list-item-reviews-number">@item.ReviewsNumber</div>
                                    <!-- <div class="category-goods-list-item-reviews-icon"></div> -->
                                </div>
                            </div>
                            <div class="category-goods-list-item-price">
                                $ @item.GoodPrice
                            </div>
                        </a>
                    </div>
                }
            </div>
            <!--
            <div class="show-more-products-box">
                <div class="show-more-products-button" onClick="showMoreProducts()">Show More</div>
            </div>
            -->
        </div>
    </div>
    <div class="subscribe-box">
        <div class="subscribe">
            <div class="subscribe-box-title">
                <div class="subscribe-box-title-opened-envelope-icon"></div>
                <div class="subscribe-box-title-text">Learn about profitable offers and get personal recommendations</div>
            </div>
            <div class="subscribe-box-field">
                <div class="subscribe-box-form-closed-envelope-icon"></div>
                <form class="subscribe-box-form" action="#">
                    <input type="email" placeholder="Your e-mail" required class="subscribe-box-email-input">
                    <input type="submit" value="Subscribe" class="subscribe-box-submit">
                </form>
            </div>
        </div>
    </div>
    @if (Session["recentlyViewedGoods"] != null)
    {
        <div class="viewed-products-box">
            <div class="viewed-products-box-title">
                <div class="viewed-products-box-eye-icon"></div>
                <div class="viewed-products-box-title">Recently viewed products</div>
            </div>
            <div class="viewed-products-list">
                @foreach (var item in Model.ViewedGoodsList)
                {
                    <div class="viewed-products-list-item">
                        <div class="viewed-products-image">
                            <img src="/Content/Images/Goods/@item.GoodCategoryUrl/@item.GoodSubcategoryUrl/@item.GoodUrl/@item.GoodImagesUrls.Split("::".ToCharArray(), StringSplitOptions.RemoveEmptyEntries)[0]" />
                        </div>
                        <div class="viewed-products-info">
                            <div class="viewed-product-name">
                                <p><a href="/catalog/@item.GoodCategoryUrl/@item.GoodSubcategoryUrl/@item.GoodUrl" class="viewed-product-item-link">@item.GoodBrand @item.GoodName</a></p>
                                <p>@item.GoodColor</p>
                            </div>
                            <div class="viewed-product-price">
                                <p>$ @item.GoodPrice</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
